@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-left">
        <h1 class="display-3">iAcademy</h1> <br>
        <h1 class="font-weight-light">Courses:</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pSiIHe2uZ2w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NPEsD6n9A_I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
