@model Endava.iAcademy.ViewModels.CoursesViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-3">iAcademy</h1>
<br>
<h1 class="font-weight-light">Courses:</h1>
<br />

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Title",
        Value = "Title",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Date",
        Value = "Date",
    });
}

<p>Sort by: @Html.DropDownListFor(model => model.Courses, listItems)<p/>

@foreach (var course in Model.Courses)
{
    <ul>
        <li><a style="font-size: 30px" href="@Url.Action("Index", "Course", new { id = course.Id })">@course.Title</a></li>
    </ul>
}
@*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@