@model Endava.iAcademy.Web.Models.CoursesViewModel
@{
    ViewData["Title"] = "Home Page";
}

<br />
<h1 style="top: 90px">Courses:</h1>

<div class="form-group float-left">
    <label for="SortBy">Sort by: </label>
    <select class="form-control" id="exampleSelect1">
        <option>Title</option>
        <option>Date</option>
        <option>Rating</option>
    </select>
</div>
<br />
<br />
<br />
<br />

<div class="flex-lg-row" style="max-width: 100%">
    <div style="display: flex; flex-flow: row wrap; justify-content: flex-start">
        @foreach (var course in Model.Courses)
        {

            <a href="@Url.Action("Index", "Course", new { id = course.Id })" style="text-decoration:none;">
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;max-height: 11.5rem; min-height: 11.5rem;overflow: hidden;-ms-flex: auto;box-sizing: border-box;flex-basis: 33.33%;margin: 15px">
                    <div class="card-body">
                        <h4 class="card-title">@course.Title</h4>
                        <p class="card-text flex-fill">@course.Description</p>
                    </div>
                </div>
            </a>

        }
    </div>
</div>
@*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
