
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card mr-5 category-course-card" style="width: 18rem;">
            <a asp-controller="Course" asp-action="List">
                    <img class="card-img-top" src="/pictures/b-m.png" alt="Card image cap">
                </a>
            <div class="card-body">

            </div>
        </div>
        <div class="card category-course-card" style="width: 18rem;">
            <img class="card-img-top" src="/pictures/c-l.png" alt="Card image cap">
            <div class="card-body">
               
            </div>
        </div>
    </div>
</div>

<style>
    .category-course-card:hover {
        -webkit-box-shadow: 0px 0px 25px -3px #106EFF;
        box-shadow: 0px 0px 25px -3px #106EFF;
        transition: 0.5s;
    }
</style>